.completed-state {
  display: flex;
  align-items: center;

  input {
    appearance: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: $checkbox-width;
    height: $checkbox-width;
    cursor: pointer;
    border: $border-dark, {
      radius: 50%;
    }
    &:checked {
      background-color: $done-cl;
    }
    &:not(:checked) {
      &::after {
        content: '✓';
        font-family: $app-font;
        color: $grey-light;
        padding-top: 3px;
      }
    }
  }
}
