.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.25s ease;
}

.fade-leave-active {
  transition: opacity 0.25s ease;
  opacity: 0;
}

.task-item-wrapper {
  display: block;
}

.rotate-leave-active {
  animation: rotate 0.5s linear forwards;
  position: absolute;
}

.rotate-move {
  transition: transform 0.5s;
  transition-delay: 0.4s;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
    opacity: 1;
  }

  to {
    transform: rotateX(180deg);
    opacity: 0.1;
  }
}
