$white: #fff;

$text-primary: #222;
$text-secondary: #4b505f;

$grey-light: #cad1e5;
$grey-medium: #babdc7;
$grey-dark: #969db2;

$creamy-blue: #e6ecfc;
$action-cl: #e64700;
$done-cl: #7ed321;

$page-bg: $creamy-blue;
$new-task-bg: $grey-light;

$border-dark: 1px solid $grey-dark;
$border-light: 1px solid $grey-light;

$spacing: 8px;
$spacing-large: 48px;

$text-input-height: 40px;
$checkbox-width: 25px;
$btn-sm-width: 80px;
$btn-sm-height: 40px;
$task-text-width: 550px;

$app-font: "Roboto", Arial, Helvetica, sans-serif;
